.primary-color {
  color: #861ddd;
}
.dark-logo {
  filter: invert(1);
  padding: 24px 24px 0px;
  width: 125px;
}

.hero-img-box {
  background: linear-gradient(to right top, #ededed 0%, #861ddd 100%);
  background-image: url("../Images/Hero_Img.svg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.app-bar {
  background-color: transparent;
  padding: 1rem;
}
.tool-bar {
  justify-content: space-between;
}
.hero-text {
  background: #ffff;
  background: linear-gradient(to left top, #861ddd 0%, #ff928e 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-img-content {
  width: 720px;
  text-align: right;
  margin-bottom: 8rem;
  margin-right: 8rem;
}
.hero-img-btns {
  background-color: rgb(255 255 255) !important;
  backdrop-filter: blur(20px);
  border: 1px solid #fff;
  color: #000 !important;
}
.description {
  width: 75%;
  margin-left: auto !important;
  text-shadow: 1px 1px 3px #000;
}
.p-t-10 {
  padding-top: 10rem;
}

.grey-50 {
  color: #888888;
}
.scroll-downs {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.mousey {
  width: 3px;
  margin: 0 auto;
  padding: 10px 15px;
  height: 36px;
  border: 1px solid #888;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: inset 1px 2px 20px rgb(0, 0, 0, 0.3),
    2px 6px 6px rgb(0, 0, 0, 0.4);
}

.scroller {
  width: 3px;
  height: 7px;
  border-radius: 25%;
  background-color: #000;
  animation-name: scroll;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

.scroll-txt {
  color: #fff;
  font-size: 1rem;
  margin-top: 0.5rem;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
}

.line-height-2 {
  line-height: 2 !important;
}

.gradient-bg {
  background-color: #861ddd;
  background: linear-gradient(to left top, #861ddd 10%, #ff928e 90%);
}

.mockupup-img-grid {
  position: absolute;
  right: 0;
}

.journey-mockupup-img {
  position: absolute;
  left: 0;
}

.plan-text-grid {
  flex-direction: row-reverse !important;
}

.mockup-img-grid-2 {
  position: absolute;
  left: 0;
}

.fa-custom-icons {
  margin-top: 0.75rem;
  margin-right: 1.5rem;
  font-size: 2.25rem;
  color: #ff645f;
}

.footer-box {
  /* background-color: red; */
  text-align: center;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(10px);
    opacity: 0.3;
  }
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
  .hero-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-img-content {
    width: 90%;
    text-align: left;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero-text {
    font-size: 3rem !important;
  }
  .description {
    width: auto;
    margin-left: unset;
    font-size: 1rem !important;
  }
  .d-flex-ver-cen {
    display: inline-block;
  }
  .h-100vh {
    height: auto;
  }
  .scroll-downs {
    display: none;
  }
  .app-bar {
    padding: 0;
  }
  /* .learn-more-btn {
    display: none !important;
  } */
  .section-1-container,
  .section-2-container,
  .section-3-container,
  .section-4-container {
    padding: 3rem 1.5rem !important;
  }
  .section-heading {
    margin-bottom: 1.5rem !important;
  }
  .mockupup-img-grid,
  .mockup-img-grid-2 {
    position: relative;
    right: 0;
  }
}

/* Small devices (tablets, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (desktops, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mockup-img-grid-2 {
    padding-left: 0 !important;
  }
}

/* Large devices (large desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mockup-img-grid-2 {
    padding-left: 0 !important;
  }
}

/* Extra large devices (larger desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mockup-img-grid-2 {
    padding-left: 0 !important;
  }
}
