/* .footer-vector-img{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 18%;
} */
/* .copyright-txt{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    margin: 0;
} */

.footer-vector-img{
    width: 100%;
    margin-bottom: -8px; 
}